<h2>{{title}}</h2>
<p>These are my current projects:</p>
<ul>
    <li>Project 1: Placeholder for project description</li>
    <li>Project 2: Placeholder for project description</li>
    <li>Project 3: Placeholder for project description</li>
</ul>
