@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&family=Raleway+Dots&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f7f4f3;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffb3b3;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    color: #ff7f7f;
    font-weight: bold;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcccb;
}

h1,
h2 {
    font-family: 'Raleway Dots', cursive;
    font-size: 3rem;
    color: #8fd9a8;
    text-transform: uppercase;
    margin-top: 2rem;
}

p,
ul {
    font-size: 1.2rem;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #ffe4e1;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    width: 80%;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #fddede;
}

footer {
    background-color: #d1cfe2;
    padding: 1rem;
    margin-top: 2rem;
    color: #8fd9a8;
}